/* SECTION */
.reviews {
    text-align: center;
    padding: 100px 20px;
}

/* TITLE */
.reviews h2 {
    font-size: 40px;
    margin-bottom: 60px;

    background: linear-gradient(90deg, #FFCCEA, #CDC1FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* SLIDER */
.slider {
    overflow: hidden;
    position: relative;
}

/* TRACK */
.slide-track {
    display: flex;
    width: calc(300px * 13);
    animation: scroll 25s linear infinite;
}

/* CARD */
.review-card {
    width: 260px;
    margin: 0 15px;

    background: rgba(255,255,255,0.6);
    backdrop-filter: blur(15px);

    padding: 20px;
    border-radius: 25px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* IMAGE */
.review-card img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* STARS */
.stars {
    color: gold;
    margin-bottom: 10px;
}

/* TEXT */
.review-card p {
    font-size: 14px;
    margin-bottom: 10px;
}

/* NAME */
.review-card span {
    font-size: 13px;
    color: #555;
}

/* CTA */
.review-cta {
    margin-top: 60px;
}

/* SLIDER ANIMATION */
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}